docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) -v $(pwd):${params.docker_mount_base}'
}

process {
    executor = 'local'
    cpus = ${params.threads}
    memory = ${params.memory}

    withName: BRAKER3 {
        container = 'teambraker/braker3:latest'
    }
    withName: 'CleanReads|IndexGenome|MapReads|MergeBAMs|StringTie|GTFtoFasta|tRNAScan|FunannotateTrain|FunannotatePredict|FunannotateUpdate|BUSCO_Funannotate|BUSCO_BRAKER3|AddUTRs|Convert_tRNA_to_GFF|Convert_GTF_to_GFF|MergeGFFs|FixOverlappingGenes|ValidateGFF|ExportProteinsBRAKER|Phobius|InterProScan|EggNOGMapper|FunannotateAnnotate' {
        container = 'genome-annotation:latest'
    }
}
